body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

p,span {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

ul {
 list-style: circle;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
}

.text-blue-dark {
    color: #2b6cb0;
}

.text-green-dark {
    color: green;
}
.page {
    margin: 0 auto;
    width: 992px;
    background-color: beige
}


@media screen and (max-width: 992px) {

    .page {
        margin: 0 auto;
        width: 100%;
    }
}


@media (min-width: 640px) {
    .date-range {
        width: 50%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: right;
    }
}

.profile {
    height: 250px;
    width: 200px;
}


.title {
    padding-bottom: 10px;
    border-bottom: 3px solid red;
}
